@import "../../assets/css/vars";
.OrderItem {
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	gap: 16px;
	margin-bottom: 24px;
	align-items: center;
}
.OrderItem figure {
	margin: 0;
}
.OrderItem figure img {
	width: 70px;
	height: 70px;
	border-radius: 20px;
	object-fit: cover;
}
.OrderItem p:nth-child(2) {
	color: var(--very-light-pink);
}
.cantidad{
	display: flex;
	align-items: center;
	gap: 3px;
}

.cantidad button{
	width: 10px;
	height: 20px;
	display: flex;
	justify-content: center;
	background: #FBA500;
	border: 1px solid #a8752d;
	cursor: pointer;
}
.OrderItem p:nth-child(4) {
	font-size: var(--md);
	font-weight: bold;
}