@import "../../assets/css/vars";

nav {
	display: flex;
	justify-content: space-between;
	padding: 0 24px;
	border-bottom: 7px solid #FBA500;
	background: #362503 ;
}
.menu {
	display: none;
}
.nav-logo {
	width: 100%;
	padding: 10px;
	object-fit: cover;
}
.navbar-left ul,
.navbar-right ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	height: 60px;
}
.navbar-left {
	display: flex;
}
.navbar-left ul {
	margin-left: 12px;
	gap: 5px;
}

.navbar-left ul li{
	transition: all 400ms ease;
}
.navbar-left ul li:hover{
	transform: scale(0.92);
}

.navbar-left ul li a,
.navbar-right ul li a {
	text-decoration: none;
	color: var(--very-light-pink);
	border: 1px solid #4F3817;
	padding: 8px;
	border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
	border: 1px solid #FBA500;
	color: #FBA500;
}
.navbar-email {
	color: var(--very-light-pink);
	font-size: var(--sm);
	margin-right: 12px;
}
.navbar-shopping-cart {
	font-size: 25px;
	color: var(--very-light-pink);
	position: relative;
	transition: all 400ms ease;
}

.navbar-shopping-cart:hover {
	transform: scale(0.92);
	cursor: pointer;
}

.navbar-shopping-cart div {
	width: 16px;
	height: 16px;
	color: #4F3817;
	background-color: #FBA500;
	border-radius: 50%;
	font-size: var(--sm);
	font-weight: bold;
	position: absolute;
	top: -6px;
	right: -3px;
	display: flex;
	justify-content: center;
	align-items: center;
	animation-name: cart;
	animation-duration: .7s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	
	
}
.navbar-shopping-cart div:hover {
	animation-play-state: paused;
	
	
}

@keyframes cart {
	0%{
		transform: scale(0.8);
	}
	100%{
		transform: scale(0.95);
	}
}

@media (max-width: 640px) {
	.menu {
		display: block;
	}
	.navbar-left ul {
		display: none;
	}
	.navbar-email {
		display: none;
	}
}